nav {
  background-color: transparent !important;
}
.section {
  background-image: url(../../../assets/images/bgheader.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}
