.navContainer{
    background-image: url(../../../../assets/images/bgheader.png);
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 419px;

}
.exchangeForm{
    margin-top: -200px;
    width: 60%;
    justify-content: center;
    margin-left: 250px;
    padding: 2rem;
}
input{
    border: 2px solid blue !important;
}
.nav-link{
    color: #FDDC86 !important;
}