@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
