.header{
    background-image: url(../../assets/images/headerImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: #fff;
    text-align: left;
    height:400px;
}
.exchangebtn{
    background-color: #FF8C0F !important;
    width:90%;
    color: #fff;
}